@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Responsive Typography with calc() inside clamp() */

/* H1 styling with responsive font size */
.text-h1 {
  @apply font-bold;
  font-size: clamp(1rem, calc(1rem + 3vw), 3rem); /* Scales from 16px to 48px */
}

/* H2 styling with responsive font size */
.text-h2 {
  @apply font-bold;
  font-size: clamp(1rem, calc(1rem + 2.5vw), 2.5rem); /* Scales from 16px to 40px */
}

.text-ps {
  @apply font-normal;
  font-size: clamp(0.55rem, calc(0.75rem + 1vw), 0.800rem); /* Scales from 12px to 14px */
}

.text-p {
  @apply font-light;
  font-size: clamp(0.875rem, calc(0.875rem + 1vw), 1rem); /* Scales from 14px to 16px */
}
.bg-cyan{
  background: rgb(0,0,0);
background: linear-gradient(259deg, rgba(0,0,0,1) 0%, rgba(58,169,171,0.8491771708683473) 89%);
}

.gradient-text {
  background: linear-gradient(259deg, rgba(0, 0, 0, 1) 0%, rgba(58, 169, 171, 0.85) 89%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}




/* Optional: Additional clamp() adjustments */

.text-h1-clamp {
  @apply font-bold;
  font-size: clamp(2rem, calc(2rem + 5vw), 3rem); /* Scales between 32px to 48px */
}

.text-h2-clamp {
  @apply font-semibold;
  font-size: clamp(1.75rem, calc(1.75rem + 4vw), 2.5rem); /* Scales between 28px to 40px */
}

.text-p-clamp {
  @apply font-normal;
  font-size: clamp(1rem, calc(1rem + 2.5vw), 1.25rem); /* Scales between 16px to 20px */
}

.text-ps-clamp {
  @apply font-light;
  font-size: clamp(0.875rem, calc(0.875rem + 2vw), 1rem); /* Scales between 14px to 16px */
}